.cover-banner {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.bet-card {
  overflow: hidden;
  min-height: 250px;
}

.btn-bet:hover {
  background-color: chocolate;
}

.btn-bet-group {
  position: absolute;
  top: 30px  !important;
  // margin-top: -0.25rem !important;
}

.card-image-top {
  width: 100%;
  height: auto;
}

#actu-card {
  background: rgb(17,17,84);
  background: linear-gradient(164deg, #332A6D -0.8%, #19153A 104.49%);
  width: 460px;
  min-height: 225px;
}

#actu-description {
  max-height: 8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
