//AFFICHAGE DES CARTES BONUS
.card-rewards{
  justify-content: center;
  justify-content:space-between;
  text-align: center;
  margin-left:1vh;
  margin-right: 1vh;
  align-items: center;
  background: #16113a00;
  // border: 1px solid;
  border-color: white;
  border-radius:10px;
  color: white;
  height: 15vh;
}

// BANNIERE
.banner{
  height: 30vh;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

// MISE EN PAGE TITRES
.bonus{
  margin-top: 30px;
  margin-bottom: 30px;
}
h1,h2,h3,h4,h5{
  color: white;
}
hr{
  color: white;
}

// MISE EN PLACE DU GRID
.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

// BOUTONS ET MODALE
.btn-custom{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background:linear-gradient(180deg, #BB8CF4 0%, #8844D6 100%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}
.btn-custom2{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background:linear-gradient(180deg, #d7800e 0%, #bd0f43 100%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}
.btn-custom3{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background:linear-gradient(180deg, #b9de17 0%, #09c33a 100%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

// SUBMIT DE LA MODALE
.btn-submit{
  margin-left: 20px;
  margin-right: 20px;
  // display: flex;
  // text-align: center;
  // justify-content: center;
  // align-items: center;
  height: 5vh;
  color: white;
  background:linear-gradient(180deg, #b9de17 0%, #09c33a 100%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}
.custom-modal-header {
  background: linear-gradient(180deg, #BB8CF4 0%, #8844D6 100%);
  color: white;
}

.custom-modal-body {
  background-color: #16113A;
  color: white;
}

.custom-modal-footer {
  background: linear-gradient(180deg, #BB8CF4 0%, #8844D6 100%);
  color: white;
}
.modal-content {
  background: linear-gradient(180deg, #BB8CF4 0%, #8844D6 100%);
  color: white;
  border-radius: 8px;
}
.titre{
  margin-bottom: 30px;
}
