// ACCORDEONS
--bs-primary-bg-subtle{
  background-color:  #16113A;
}
// RETIRER LA BORDER BLANCHE
.accordion-button:not(.collapsed) {
  background: linear-gradient(180deg, #303061 8.01%, #6d166e 94.28%);
  color: white;
  box-shadow: none;
}
// RETIRER LA BORDER BLANCHE
.accordion-item {
 border-color:  #16113A;
}
//COULEUR POLICE
.accordion-header{
  background: linear-gradient(180deg, #303061 8.01%, #6d166e 94.28%);
  color: white;

}
// CONTENU ACCORDEON
.accordion-item{
  background: linear-gradient(180deg, #303061 8.01%, #6d166e 94.28%);
}
// COULEUR BUTTON & APRES FERMETURE
.accordion-button{
background: linear-gradient(180deg, #303061 8.01%, #6d166e 94.28%);
color: white;
}
// COULEUR BUTTON SURVOL
.accordion-button:hover {
  background: linear-gradient(180deg, #303061 8.01%, #6d166e 94.28%);
  color: white;
}
// HEADER
.squad-header{
  background: linear-gradient(180deg, #303061 8.01%, #6d166e 94.28%);
  border-radius: 10px;
  // padding: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  height: 30vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}
.custom-grid-5 {
  display: grid !important;
  grid-template-columns: 195px 195px 195px 195px 195px;
  gap: 16px;
  align-items: center;
}

.card-squad-display-1{
  display: flex;
  justify-content: center;
  justify-content:space-between;
  align-items: center;
  height: 10vh;
  background: #16113A;
  border: 1px solid;
  border-color: white;
  border-radius:10px;
}
.card-squad-display-2{
  color: white;
  display: flex;
  justify-content: center;
  justify-content:space-between;
  align-items: center;
  text-align: center;
}
.squad-sport {
  color: white;
}

// Boutton jaune sport
.squad-content{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background:linear-gradient(180deg, #F9B97E 0%, #C59E12 100%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.squad-content2{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background: linear-gradient(143deg, #ef54cd 5.16%, #a90d72  75.71%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
// Bouton vert ou rouge gagné ou perdu
.win{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background: linear-gradient(180deg, #61E341 0%, #18BC5A 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.lose{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background: linear-gradient(180deg, #e84848 0%, rgb(198, 85, 14) 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.nul{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background: linear-gradient(180deg, #57b3f0 0%, rgb(38, 13, 207) 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.disab{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background: linear-gradient(180deg, #bab9b9 0%, rgb(108, 107, 106) 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.date{
  justify-content: center;
  align-items: center;
  text-align: center;

}

.card-squad-display-3 {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  background: linear-gradient(180deg, #2A2252 0%, #343157 100%);
  height: 3vh;
  margin-left: auto;
  margin-right: auto;
}
