.squad-header{
  background: linear-gradient(127deg, #303061 8.01%, #921594 94.28%);
  border-radius: 10px;
  padding: 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  height: 20vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-squad-display-1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: #16113A;
  border: 1px solid;
  border-color: white;
  border-radius:10px;
}

.squad-sport{
  align-items: center;
  height: 5vh;
  width: 16vh;
  color: white;
  background-color: rgb(198, 198, 5);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-squad-display-2{
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}
