<div class="container-fluid">

  <div class="row mb-4">
    <div class="col-12 text-center">
      <div class="card bg-primary">
        <div class="card-body">
          <h2 class="card-title text-white">Plutot winner ou looser?</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-4">
      <div class="card bg-success">
        <div class="card-body">
          <p class="card-text text-white">74% de victoires</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-info">
        <div class="card-body">
          <p class="card-text text-white">14/17 matchs joués</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text text-white">3e de la team</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-8">
      <div class="card bg-danger">
        <div >
          <p class="card-text text-white">Classement</p>
          <p class="card-text text-white">1er</p>
          <p class="card-text text-white">1er</p>
          <p class="card-text text-white">1er</p>
        </div>
      </div>
    </div>

    <div class=" col-4 d-flex flex-column justify-content-between ">
      <div class="card bg-secondary">
        <div class="card-body">
          <p class="card-text text-white">🏀 Basket</p>
        </div>
      </div>
      <div class="card bg-secondary">
        <div class="card-body">
          <p class="card-text text-white">10,034 points cumulés</p>
        </div>
      </div>
    </div>
  </div>


</div>
