 <div class="d-flex sticky-top flex-column justify-content-evenly  p-3 text-white sidecontent rounded-4">
        <div class="nav-links">
          <ul class="list-unstyled">
            <li><i class="fa-solid fa-bomb me-2"></i><a href="#">Accueil</a></li>
            <li><i class="fa-solid fa-bomb me-2"></i><a href="#">Mes stats</a></li>
            <li><i class="fa-solid fa-bomb me-2"></i><a href="#">Historique</a></li>
            <li><i class="fa-solid fa-bomb me-2"></i><a href="#">Discussion</a></li>
            <li><i class="fa-solid fa-bomb me-2"></i><a href="#">Boutique</a></li>
          </ul>
          <hr>
        </div>

      <div class="user-links">
        <ul class="list-unstyled">
            <li><i class="fa-solid fa-bomb me-2"></i><a href="#">Paramètres</a></li>
            <li><i class="fa-solid fa-bomb me-2 text-warning"></i><a href="#">Déconnexion</a></li>
        </ul>
      <hr>

      <div class="help-links">
        <p>Besoin d'aide ?</p>
      </div>

    </div>
    </div>
