

      <div class="d-flex flex-column justify-content-evenly contents flex-shrink-1 p-3 text-white">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
            <i class="fa-solid fa-house"></i>
            Accueil
            </a>
          </li>

          <li>
            <a href="#" class="nav-link text-white">
              <i class="fa-solid fa-gas-pump"></i>
              Mes stats
            </a>
          </li>

          <li>
            <a href="#" class="nav-link text-white">
              <i class="fa-solid fa-clock-rotate-left"></i>
              Historiques
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="fa-regular fa-comments"></i>
              Discussions
            </a>
          </li>

          <li>
            <a href="#" class="nav-link text-white">
              <i class="fa-solid fa-shop"></i>
              Boutique
            </a>
          </li>
        </ul>
        <hr>

        <div class="dropdown d-flex flex-column justify-content-center">

        <ul class="flex-column mb-auto text-decoration-none list-unstyled text-center">
            <li class="">
              <a href="#" class="nav-link active mb-2 opacity-25" aria-current="page">
              Préférences
              </a>
            </li>
            <li class="">
              <a href="#" class="nav-link active mb-2 text-warning opacity-75" aria-current="page">
              Déconnexion
              </a>
            </li>
        </ul>

        <hr>

        <ul class="flex-column mb-auto text-decoration-none list-unstyled text-center">
            <li>
              <a href="#" class="d-flex align-items-center text-white text-decoration-none " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>Username</strong>
              </a>
            </li>
          </ul>


        </div>
      </div>
    </div>
