<div class="d-flex flex-column justify-content-evenly contents p-3 text-white sidebar-right rounded-4">

  <div class="nav-links">
    <ul class="list-unstyled d-flex flex-column justify-content-between">
      <li class="d-flex flex-row "><i class="fa-solid fa-bomb me-1 mb-2"></i><a href="#"><h5>Accueil</h5></a></li>
      <li class="d-flex flex-row"><i class="fa-solid fa-bomb me-1 mb-2"></i><a href="#"><h5>Mes stats</h5></a></li>
      <li class="d-flex flex-row"><i class="fa-solid fa-bomb me-1 mb-2"></i><a href="#"><h5>Historique</h5></a></li>
      <li class="d-flex flex-row"><i class="fa-solid fa-bomb me-1 mb-2"></i><a href="#"><h5>Discussion</h5></a></li>
      <li class="d-flex flex-row"><i class="fa-solid fa-bomb me-1 mb-2"></i><a href="#"><h5>Boutique</h5></a></li>
    </ul>
    <hr>
  </div>

  <div class="user-links">
    <ul class="list-unstyled">
        <li><i class="fa-solid fa-bomb me-2"></i><a href="#">Paramètres</a></li>
        <li><i class="fa-solid fa-bomb me-2 text-warning"></i><a href="#">Déconnexion</a></li>
    </ul>
  <hr>

  <div class="help-links">
    <p>Besoin d'aide ?</p>
  </div>

</div>
</div>
