<div class="navbar d-flex justify-content-between flex-row">

  <div>
  LOGO
  </div>

  <div>
    <button>Hello</button>
    <button>Hello</button>
    <button>Hello</button>
    <button>Hello</button>
  </div>


</div>
