<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">BetFriends</a>



      <!-- Boutons ajoutés à la barre de navigation -->
      <li class="btnDisplay">
        <div class="btnNav">
          <a href="./monCompte.php" class="btn btn-primary">Mes Points</a>
        </div>
        <div class="btnNav">
          <a href="deconnexion.php" class="btn btn-primary">Bonus</a>
        </div>
        <div class="btnNav">
          <a href="deconnexion.php" class="btn btn-primary">Mon profil</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
