<div class="d-flex flex-column justify-content-evenly contents flex-shrink-1 p-3 text-white rounded-4 sidebar-right">

      <div class="LShead top-0">

       <div class="classement text-center">
        <h5 class="mb-2">Classement</h5>
        <ul class="list-unstyled">
          <div class="classement-list-player mb-2">
            <li>Player 1</li>
          </div>
          <div class="classement-list-player mb-2">
            <li>Player 2</li>
          </div>
          <div class="classement-list-player mb-2">
            <li>Player 3</li>
          </div>
          <div class="classement-list-player mb-2">
            <li>Player 4</li>
          </div>
          <div class="classement-list-player">
            <li>Player 5</li>
          </div>
          <div class="mt-2">
            <li><small><%= link_to "Classement complet"%></small></li>
          </div>
        </ul>
       </div>
      </div>

      <div class="LSmain ">
        <div class="hightlight-bonus border rounded-4 text-center">
          <img src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?q=80&w=2755&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" id="highlight-img">
        </div>
      </div>

      <div class="LSfoot ">
        <div class="conversation text-center border rounded-4 p-3">

          <h5 class="mb-2">Le vestiaire</h5>

          <div class="all-messages d-flex flex-column">

            <div class="message text-start">
              <small><i class="fa-solid fa-user-ninja me-2"></i>User 1 - jeudi 21</small>
              <p>Hello toi</p>
              <hr>
            </div>

            <div class="message text-start">
              <small><i class="fa-solid fa-user-ninja me-2"></i>User 1 - jeudi 21</small>
              <p>Hello toi</p>
              <hr>
            </div>

          </div>


       </div>
      </div>



    </div>
