<%# <div class="modal" data-controller="modal"> %>

  <div class="container">

    <div class="cookiesContent" id="cookiesPopup">


        <button class="close">✖</button>


      <div>

        <h1 class="mt-5 display-5 ">Le roi de la lucarne !</h1>
        <p class="text-white mb-3 p-modal">Bravo ! Tes derniers exploits nous ont impressionné.<br>Continue comme ça...</p>

        <button class="accept">Ok !</button>
      </div>

    </div>

  </div>
<%# </div> %>
