<%# ----- HERO FUNBET ----- %>
<div class="container-fluid">
<div class="row">
  <div class="col-12 mxwidth rounded-4 bg-light mb-5">
    <div class="cover-banner">
      <img src="https://plus.unsplash.com/premium_photo-1701187887029-907bed510db6?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" id="cover-banner">
    </div>
  </div>
</div>
</div>

<%# ----- CONTENT > BETS ----- %>
<div class="container-fluid">
<div class="row">
  <div class="col-12 d-flex flex-row justify-content-center">

  <%# ----- BET CARD ----- %>


  <% @matches.each do |match| %>

    <div class="col-4 rounded-4 bg-white bet-card position-relative shadow-sm">
    <%# IMAGE CARD %>
    <span class="position-relative">
      <img class="card-img-top "  alt="100%x180" style="height: 140px; width: 120%; display: inline-block;" src="https://images.unsplash.com/photo-1579546929518-9e396f3cc809?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" data-holder-rendered="true">
      <div data-controller="bets" class="bouton-paris d-flex justify-content-center text-center my-3">
    </span>
    <%# BET BUTONS  %>
    <span class="d-flex btn-bet-group justify-content-between px-2 ">
    <% if match.participations.first.odd < match.participations.last.odd %>

      <div class="mb-2">
        <button class="btn btn-info btn-bet pe-4 rounded-3 text-center mx-1 mb-2" data-bets-target="button" data-action="click->bets#betSubmit"><small><%= match.participations.first.team.name %></small><br>Favori</button>
      </div>

      <div class="mb-2">
        <button class="btn btn-info pe-4 rounded-3 text-center mx-1 mb-2 h-100"><small>Nul</small></button>
      </div>

      <div class="mb-2">
        <button class="btn btn-info pe-4 rounded-3 text-center mx-1 mb-2 h-100" data-bets-target="button" data-action="click->bets#betSubmit"><small><%= match.participations.last.team.name %></small><br>Outsider</button>
      </div>

    <% else %>
      <div class=" mb-2">
        <button data-bets-target="button" data-action="click->bets#betSubmit" class="btn btn-info pe-4 rounded-3 text-center mx-1 mb-2 h-100"><small><%= match.participations.first.team.name %></small><br>Outsider</button>
      </div>

      <div class=" mb-2">
        <button class="btn btn-info pe-4 rounded-3 text-center mx-1 mb-2 h-100"><small>Nul</small></button>
      </div>
      <div class=" mb-2">
        <button data-bets-target="button" data-action="click->bets#betSubmit" class="btn btn-info pe-4 rounded-3 text-center mx-1 mb-2 h-100"><small><%= match.participations.last.team.name %></small><br>Favori</button>
      </div>
    <% end %>
      </div>
</span>

    <div class="col-12 d-flex  flex-column justify-content-center mt-5 mb-3 text-center">
      <button class="btn col-8 d-flex justify-content-center text-center btn-info rounded-5">Utiliser un bonus</button>
      <p class=" col-8 d-flex justify-content-center text-center" >14/24 joueurs on pariés</p>
      </div>

    </div>
    <% end %>
  </div>
</div>
</div>
