.navbar {
  display:flex;
  background-color: #34325700;
  border-radius: 8px;
  padding: 8px;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.navbar-brand{
  color: white;
}

.btnDisplay {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.btnNav {
  margin-right: 10px;
}
