// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: linear-gradient(127deg, #232347 8.01%, #261652 94.28%);
}

.parent {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  }

  .div1 { grid-area: 1 / 1 / 2 / 4; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }
  .div4 { grid-area: 2 / 3 / 3 / 4; }
  .div5 { grid-area: 3 / 1 / 4 / 2; }
  .div6 { grid-area: 3 / 2 / 4 / 3; }
  .div7 { grid-area: 3 / 3 / 4 / 4; }


.sidebar-left {
  background: linear-gradient(148deg, rgba(255, 255, 255, 0.16) -28.48%, rgba(255, 255, 255, 0.00) 114.99%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 90vh;
 

}

.sidebar-right {
  background: linear-gradient(148deg, rgba(255, 255, 255, 0.16) -28.48%, rgba(255, 255, 255, 0.00) 114.99%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 90vh;
 
}

.full-height {
  height: 100vh;

}
